<script lang="ts" setup>
import { ref } from 'vue';
const image = ref("feeling_imgs/smile.png");
const feel = ref("Smile");

function imgandcolor(value: string, id:string): void{
  image.value = "feeling_imgs/" + feel.value + ".png";
  feel.value = value;
  document.getElementById("1")!.style.background = "white";
  document.getElementById("2")!.style.background = "white";
  document.getElementById("3")!.style.background = "white";
  document.getElementById("4")!.style.background = "white";
  document.getElementById("5")!.style.background = "white";
  document.getElementById("6")!.style.background = "white";
  document.getElementById(id)!.style.background = "yellow";
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col >
        <v-img :src="image" height="700px" class="justify-center"></v-img>
      </v-col> 
      <v-col class="btn" >
        <div style="font-size: 40px;">{{ feel }}</div>
        <v-btn class="ma-1" height="40px" width="100%" id="1" @click="imgandcolor('Angry', '1')">ANGRY</v-btn>
        <v-btn class="ma-1" height="40px" width="100%" id="2" @click="imgandcolor('Cute', '2')">CUTE</v-btn>
        <v-btn class="ma-1" height="40px" width="100%" id="3" @click="imgandcolor('Excited', '3')">EXCITED</v-btn>
        <v-btn class="ma-1" height="40px" width="100%" id="4" @click="imgandcolor('Pain', '4')">PAIN</v-btn>
        <v-btn class="ma-1" height="40px" width="100%" id="5" @click="imgandcolor('Shocked', '5')">SHOCKED</v-btn>
        <v-btn class="ma-1" height="40px" width="100%" id="6" @click="imgandcolor('Smile', '6')">SMILE</v-btn>
      </v-col>
    </v-row>
    </v-container>
</template>

<style scoped>
.btn {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 50px;
}
</style>
