<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
        <v-btn @click="useCount.increment()">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <v-btn @click="useCount.decrement()">DECREMENT</v-btn>
      </v-col>
      </v-row>
    </v-container>
</template>
