<script setup lang="ts">
import { useCounterStore } from '@/stores/counter';
const useCount = useCounterStore();
</script>
<template>
    <div>First Component</div>
    <div>{{ useCount.count }}</div>
</template>
