<script setup lang="ts">
import { useCounterStore } from '@/stores/counter';
const useCount = useCounterStore();
</script>
<template>
    <div>Second Component</div>
    <div>{{ useCount.doubleCount }}</div>
</template>
